{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/Calculator.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/result.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/Info.css" %}?ver=1" />
    <link rel="stylesheet" href="{% static "css/input_name.css" %}?ver=1" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>LoaTier</title>
  </head>
  <body>
    <header>{%include "includes/header.html"%}</header>
    <div class="characterInfo">{%include "characterInfo.html"%}</div>
    <div>
      <div class="normalhardForm" style="display: none;">
        {% comment %} <form action="#" name="difficulty" method="get" id="normalhardForm"> {% endcomment %}
          <div>
            <button class="closeBtn" onclick="showFilter();">X</button>
          </div>
          <div>
          <fieldset class="totalField">
            <legend>난이도 선택</legend>
            <fieldset class="stageSet">
              <legend>1관문</legend>
              <select name="stage1" size="3" id="stage1" class="stages" >
                <option value="normal" {% if result.0.enter.0 == 1 or result.0.enter.0 == 2  %}selected{% endif %} >노말</option>
                <option value="hard" {% if result.0.enter.0 == 3 or result.0.enter.0 == 4  %}selected{% endif %} >하드</option>
              </select>
                <div>
                  더보기 함<input
                    type="checkBox"
                    class="bonus"
                    value="yes"
                    onchange="checkboxGroup(this)"
                    id="stage1Plus"
                  />
                </div>
            </fieldset>
            <fieldset class="stageSet">
              <legend>2관문</legend>
              <select name="stage2" size="3" id="stage2" class="stages">
                <option value="normal"{% if result.1.enter.1 == 1 or result.1.enter.1 == 2 %}selected{% endif %}>노말</option>
                <option value="hard" {% if  result.1.enter.1 == 3 or result.1.enter.1 == 4 %}selected{% endif %}>하드</option>
                <option value="dont" {% if  result.1.enter.1 == 0 or result.1.enter.1 == None %}selected{% endif %}>안함</option>
              </select>
              <div>
                <div>
                  더보기 함<input
                    type="checkBox"
                    class="bonus"
                    value="yes"
                    onchange="checkboxGroup(this)"
                    id="stage2Plus"
                  />
                </div>
              </div>
            </fieldset>
            <fieldset class="stageSet">
              <legend>3관문</legend>
              <select name="stage3" size="3" id="stage3" class="stages">
                <option value="normal"{% if  result.2.enter.2 == 1 or result.2.enter.2 == 2 %}selected{% endif %}>노말</option>
                <option value="hard" {% if  result.2.enter.2 == 3 or result.2.enter.2 == 4 %}selected{% endif %}>하드</option>
                <option value="dont"{% if  result.2.enter.2 == 0 or result.2.enter.2 == None %}selected{% endif %}>안함</option>
              </select>
              <div>
                <div>
                  더보기 함<input
                    type="checkBox"
                    class="bonus"
                    value="yes"
                    onchange="checkboxGroup(this)"
                    id="stage3Plus"
                  />
                </div>
              </div>
            </fieldset>
            <fieldset class="stageSet"> 
              <legend>4관문</legend>
              <select name="stage4" size="3" id="stage4" class="stages">
                <option value="hard"{% if  result.3.enter.3 == 3 or result.3.enter.3 == 4 %}selected{% endif %}>하드</option>
                <option value="dont"{% if  result.3.enter.3 == None or result.3.enter.3 == 0 %}selected{% endif %}>안함</option>
              </select>
              <div>
                <div>
                  더보기 함<input
                    type="checkBox"
                    class="bonus"
                    value="yes"
                    onchange="checkboxGroup(this)"
                    id="stage4Plus"
                  />
                </div>
            </fieldset>
            </div>
            <div class="bonusGroup">
                <button class="calculateBtn" id="collCalc">계산</button>
            </div>
          </div>
          </fieldset>
        {% comment %} </form> {% endcomment %}
      </div>
    </div>
    <div class="result">{%include "result.html"%}</div>
    <footer>{%include "includes/footer.html"%}</footer>

  </body>
</html>
