body {
  padding-top: 85px;
}

body {
  background-color: azure;
  user-select: none;
}

#main {
  display: flex;
  float: left;
  margin-left: 150px;
  width: 800px;
  flex-direction: row;
}

.imgtag {
  width: 70px;
  height: 70px;
}

.dragging {
  opacity: 0.5;
}

.renkin.dragover {
  background-color: purple;
}

.awakeningname {
  border: solid 1px wheat;
  background-color: wheat;
}

#send {
  display: flex;
  margin-left: 150px;
  text-align: center;
  margin-top: 0px;
  width: 200px;
  height: 35px;
  background-color: #5c75e6;
  color: white;
  font-size: 17px;
}

#send:hover {
  background-color: #6682ff;
  box-shadow: 0px 0px 0px 5px rgba(192, 194, 250, 0.7);
}
