{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/allResult.css" %}?ver=3" />
    <title>LoaTier</title>
  </head>
  <body>
    <header>
      <h1> menu</h1>
      <a href="/">home</a>
    </header>
  <div>
    <div class="select">
      <input type="radio" id="select" name="shop" checked="checked"><label for="select"><img src="{% static "imgdata/zkaps.png" %}" width="50px" height="50px" draggable="false" /></label>
      <input type="radio" id="select2" name="shop"><label for="select2"><img src="{% static "imgdata/dlffl.png" %}" width="50px" height="50px" draggable="false" /></label>
      <input type="radio" id="select3" name="shop"><label for="select3"><img src="{% static "imgdata/dpzl.png" %}" width="50px" height="50px" draggable="false" /></label>
    </div>
    <div id="main">
      <div border="1" class="maintb" align="center" id="icon">
        <div class="lain">
          <div width="50px" align="center" id="Aclass" class="rank">A</div>
          <div width="500px" class="renkin" id="Aicon">
            {%for tier1 in tier1%}
              <img  class="tooltip_image" src="{% get_static_prefix %}imgdata/{{tier1}}img.webp">   
                <div class="ebox"><img src="{% get_static_prefix %}imgdata/{{tier1}}img.webp" width="50px" height="50px" draggable="false"></div>
              {%endfor%}
          </div>
        </div>
        <div class="lain">
          <div align="center" id="Bclass" class="rank">B</div>
          <div width="500px" class="renkin" id="Bicon">
            {%for tier2 in tier2%}
              <img class="tooltip_image" src="{% get_static_prefix %}imgdata/{{tier2}}img.webp">   
                <div class="ebox"><img src="{% get_static_prefix %}imgdata/{{tier2}}img.webp" width="50px" height="50px" draggable="false"></div>
              {%endfor%}
            </div>
        </div>
        <div class="lain">
          <div align="center" id="Cclass" class="rank">C</div>
          <div width="500px" class="renkin" id="Cicon">
            {%for tier3 in tier3%}
              <img class="tooltip_image" src="{% get_static_prefix %}imgdata/{{tier3}}img.webp">   
                <div class="ebox"><img src="{% get_static_prefix %}imgdata/{{tier3}}img.webp" width="50px" height="50px" draggable="false"></div>
              {%endfor%}
        </div>
        <div class="lain">
          <div align="center" id="Dclass" class="rank">D</div>
          <div width="500px" class="renkin" id="Dicon">
            {% comment %} {%for tier4 in tier4%}
              <img class="tooltip_image" src="{% get_static_prefix %}imgdata/{{tier4}}img.webp">   
                <div class="ebox"><img src="{% get_static_prefix %}imgdata/{{tier4}}img.webp" width="50px" height="50px" draggable="false"></div>
              {%endfor%} {% endcomment %}
        </div>
        <div class="lain">
          <div align="center" id="Eclass" class="rank">E</div>
          <div width="500px" class="renkin" id="Eicon">
            {% comment %} {%for tier5 in tier5%}
              <img class="tooltip_image" src="{% get_static_prefix %}imgdata/{{tier5}}img.webp">   
                <div class="ebox"><img src="{% get_static_prefix %}imgdata/{{tier5}}img.webp" width="50px" height="50px" draggable="false"></div>
              {%endfor%} {% endcomment %}
        </div>
      </div>
    </div>
    <div border="1" class="maintb">
      <div id="seticon" class="renkin">
        
        드래그 안한 데이터들

      </div>
    </div>
  </div>
  <script src="{% static "js/allResult.js" %}?ver=7" > </script>
</body>
  </html>