{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    {% comment %} <script src="{% static "js/index.js" %}?ver=1" > </script> {% endcomment %}
    <title>LoaTier</title>
  </head>
  
  <body>
    <header>
      {% include "includes/header.html" %}
    </header>
    <div class="select">
      {%include "includes/selector.html"%}
    </div>
    <div>
      HOME
    </div>
    
  </body>
  </html>