{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    <title>LoaTier</title>
  </head>
  
  <body>
    <header>
      <h1> menu</h1>
      <a href="/">home</a>
    </header>
   
    <div>
      <div class="select">
        <input type="radio" id="select1" name="shop" checked="checked"><label for="select1"><img src="{% static "imgdata/zkaps.png" %}" width="50px" height="50px" draggable="false" /></label>
        <input type="radio" id="select2" name="shop"><label for="select2"><img src="{% static "imgdata/dlffl.png" %}" width="50px" height="50px" draggable="false" /></label>
        <input type="radio" id="select3" name="shop"><label for="select3"><img src="{% static "imgdata/dpzl.png" %}" width="50px" height="50px" draggable="false" /></label>
      </div>
       <th><button id="send" align="center">전송</button></th>
      <div id="main">
        <div border="1" class="maintb" align="center" id="icon">
          <div class="lain">
            <div width="50px" align="center" id="Aclass" class="rank">A</div>
            <div width="500px" class="renkin" id="Aicon"></div>
          </div>
          <div class="lain">
            <div align="center" id="Bclass" class="rank">B</div>
            <div width="500px" class="renkin" id="Bicon"></div>
          </div>
          <div class="lain">
            <div align="center" id="Cclass" class="rank">C</div>
            <div width="500px" class="renkin" id="Cicon"></div>
          </div>
          <div class="lain">
            <div align="center" id="Dclass" class="rank">D</div>
            <div width="500px" class="renkin" id="Dicon"></div>
          </div>
          <div class="lain">
            <div align="center" id="Eclass" class="rank">E</div>
            <div width="500px" class="renkin" id="Eicon"></div>
          </div>
        </div>
      </div>
      <div border="1" class="maintb">
        <div id="seticon" class="renkin">
          {% comment %} 
          <div class="imgtag" id="1img" draggable="true">
            <img src="{% static "imgdata/1img.webp" %}" width="50px" height="50px" draggable="false" />
          </div>
          <div class="imgtag" id="2img" draggable="true">
            <img src="{% static "imgdata/2img.webp" %}" width="50px" height="50px" draggable="false" />
          </div>
          <div class="imgtag" id="3img" draggable="true">
            <img src="{% static "imgdata/3img.webp" %}" width="50px" height="50px" draggable="false" />
          </div>
          <div class="imgtag" id="4img" draggable="true">
            <img src="{% static "imgdata/4img.webp" %}" width="50px" height="50px" draggable="false" />
          </div>
          <div class="imgtag" id="5img" draggable="true">
            <img src="{% static "imgdata/5img.webp" %}"  width="50px" height="50px" draggable="false" />
          </div>
          <div class="imgtag" id="6img" draggable="true">
            <img src="{% static "imgdata/6img.webp" %}"  width="50px" height="50px" draggable="false" />
          </div> {% endcomment %}
          
          
          {% comment %} {% for i in "x"|rjust:"52" %}
             <div class="imgtag" draggable="true">
              <img src="{% get_static_prefix %}imgdata/{{ i }}img.webp" width="50px" height="50px" draggable="false" />
             </div>
          {% endfor %} {% endcomment %}
             {% for i in "x"|rjust:"52" %}
              <div class="imgtag" draggable="true" id="{{ forloop.counter }}">
                <img src="{% get_static_prefix %}imgdata/{{ forloop.counter }}img.webp" width="50px" height="50px" draggable="false" />
              </div>
             {% endfor %}
          
        </div>
      </div>
    </div>
    <script src="{% static "js/index.js" %}?ver=1" > </script>
  </body>
  </html>