{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selector</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
  </head>
  <body>
    <selector>
      <nav>
        <ul>
          <input type="radio" id="select1" name="shop" checked="checked" />
          <label for="select1">
            <img src="{% static "imgdata/zkaps.png" %}" width="50px"
            height="50px" draggable="false" />
          </label>
          <input type="radio" id="select2" name="shop" />
          <label for="select2">
            <img src="{% static "imgdata/dlffl.png" %}" width="50px"
            height="50px" draggable="false" />
          </label>
          <input type="radio" id="select3" name="shop" />
          <label for="select3">
            <img src="{% static "imgdata/dpzl.png" %}" width="50px"
            height="50px" draggable="false" />
          </label>
        </ul>
      </nav>
    </selector>
  </body>
</html>
