{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/index.css" %}?ver=1" />
    
    <title>LoaTier</title>
  </head>
  
  <body>
    <header>
      {% include "includes/header.html" %}
    </header>
   
    <div>
      <div class="select">
        {%include "includes/selector.html"%}
      </div>

       <th><button id="send" align="center">전송</button></th>

      <div id="main">

    <script>
      var getParams = "{{raid}}";
      var raid1 = document.getElementById("select1");
      var raid2 = document.getElementById("select2");
      var raid3 = document.getElementById("select3");
      var raid1_name = raid1.value;
      var raid2_name = raid2.value;
      var raid3_name = raid3.value;
      if (raid1_name == getParams) {
        raid1.checked = true;
      } else if(raid2_name == getParams){
        raid2.checked = true;
      } else if(raid3_name == getParams){
        raid3.checked = true;
      }
    </script>
      
      {%if raid1_name == kamen%}
        {%include "index/index_kamen.html"%}
      {%elif raid2_name == illiakan%}
        {%include "index/index_illiakan.html"%}
      {%elif raid3_name == echidna%}
        {%include "index/index_echidna.html"%}  
      {%endif%}
      </div>
    </div>
    <script src="{% static "js/index.js" %}?ver=1" > </script>
  </body>
  </html>